<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feather OS Package Server</title>

    <link rel="stylesheet" href="css/header.min.css">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="css/elements.min.css">

</head>

<body>
    <header>
        <div class="info">
            <a href="/">
                <h2>Feather OS Package Server</h2>
                <p>Here you will find Packages for Feather OS</p>
            </a>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/stats">Statistics</a></li>
                <li>
                    <form action="/search" method="get">
                        <ul>
                            <li><input type="search" name="q" placeholder="Keywords"></li>
                            <li><input type="submit" value="Search"></li>
                        </ul>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <div class="wrapper">
        <div class="panel">
            <div class="header">
                <a>Top Downloads</a>
            </div>

            <div class="body">
            </div>
        </div>
    </div>
</body>

</html>